/**
 * Theme39 theme for Marp
 *
 * @theme theme39
 * @version 0.1.0
 * @author Florian Hektor
 *
 * @size 16:9  1920px 1080px
 * @size 4:3 1440px 1080px
 */

@use "sass:meta";
/* @import url("./themes/assets/github-markdown.scss"); */
@import "default";

@import url("https://fonts.googleapis.com/css?family=Roboto%20Slab:700|Noto%20Sans:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

:root {
  /* colors */
  --text-color: hsl(199, 18%, 10%);
  --text-muted: hsla(199, 18%, 20%, 0.6);
  --background: hsl(199, 18%, 97%);
  --primary: hsl(199, 18%, 50%);
  --secondary: hsl(199, 18%, 96%);
  --accent: hsl(199, 18%, 90%);

  /* fonts */
  --heading-font: "Roboto Slab", "Noto", serif;
  --text-font: "Noto", "Roboto", sans-serif;
  --code-font: "Noto", "Roboto Mono", monospace;
  --quote-font: "Noto", "Roboto", sans-serif;
  --accent-font: "Noto", "Roboto", sans-serif;

  /* --main-font-size: 2.2em; */
  --main-font-size: 2.9em;
  --plain-size: 1em;
  --code-size: 0.85em;
  --footer-size: 0.75em;
}
section {
  background-image: url("themes/assets/theme39/bg-2.svg");
  background-color: var(--background);
  background-size: cover;
  font-size: var(--main-font-size);
  overflow: hidden;
  position: relative;
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--text-color);
}

p,
ul,
ol,
blockquote,
pre,
table {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 1em;
}

/* header, footer and page numbers */
header {
  font-size: 0.8em;
  font-family: var(--accent-font);
  font-weight: bold;
  color: var(--text-muted);
}
footer {
  font-size: var(--footer-size);
  font-family: var(--accent-font);
  color: var(--text-muted);
}
footer a {
  color: var(--text-muted);
}

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  font-size: var(--footer-size);
  font-family: var(--accent-font);
  color: var(--text-muted);
  /* bottom: 2.7em; */
  /* right: 4.5em; */

  /* To manipulate page numbers using content enable this code */
  /* font-family: "monospace"; */
  /* overflow: hidden; */
  /* text-indent: -2ch; */
}

/* code snippets */
code {
  background-color: var(--secondary);
  font-family: var(--code-font);
  font-size: var(--plain-size);
  word-wrap: break-word;
}

/* code blocks */
pre {
  display: flex;
  background-color: var(--secondary);
  font-size: var(--code-size);
  font-family: var(--code-font);
  border: 2px solid var(--accent);
  border-radius: 0.5em;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
pre code {
  text-wrap: wrap;
}

/* quote boxes */
blockquote {
  background: var(--secondary);
  font-size: var(--plain-size);
  font-family: var(--quote-font);
  border-left: 10px solid var(--primary);
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* tables */
table {
  display: table;
  min-width: 80%;
  table-layout: fixed;
  margin: 1em auto 1em auto;
  border: 2px solid var(--accent);
  border-radius: 0.5em;
  font-size: var(--plain-size);
  font-family: var(--accent-font);
  overflow-wrap: break-word;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
th {
  background-color: var(--secondary);
  color: var(--text-color);
}

/* foreground images */
img {
  display: block;
  max-width: 100%;
  max-height: 100vh;
  object-position: center;
  border-radius: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* 
 * image positions
 * usage: [center](image.png)
 */
img[alt~="center"] {
  margin: 0 auto;
}
img[alt~="right"] {
  float: right;
  margin: 0 0 1em 1em;
}

/* 
 * image sizes
 * usage: [center 20](image.png)
 */
img[alt~="20"] {
  max-width: 20%;
}
img[alt~="25"] {
  max-width: 25%;
}
img[alt~="30"] {
  max-width: 30%;
}
img[alt~="35"] {
  max-width: 35%;
}
img[alt~="40"] {
  max-width: 40%;
}
img[alt~="45"] {
  max-width: 45%;
}
img[alt~="50"] {
  max-width: 50%;
}
img[alt~="55"] {
  max-width: 55%;
}
img[alt~="60"] {
  max-width: 60%;
}
img[alt~="65"] {
  max-width: 65%;
}
img[alt~="70"] {
  max-width: 70%;
}
img[alt~="75"] {
  max-width: 75%;
}
img[alt~="80"] {
  max-width: 80%;
}
img[alt~="85"] {
  max-width: 85%;
}
img[alt~="90"] {
  max-width: 90%;
}
img[alt~="95"] {
  max-width: 95%;
}

/* 
 * text sizes
 * usage: <!-- _class: text-3xl -->
*/
section.text-3xl > p,
section.text-3xl > ul,
section.text-3xl > ol,
section.text-3xl > blockquote,
section.text-3xl > pre,
section.text-3xl > table,
.text-3xl {
  font-size: 1.3em;
}
section.text-2xl > p,
section.text-2xl > ul,
section.text-2xl > ol,
section.text-2xl > blockquote,
section.text-2xl > pre,
section.text-2xl > table,
.text-2xl {
  font-size: 1.2em;
}
section.text-xl > p,
section.text-xl > ul,
section.text-xl > ol,
section.text-xl > blockquote,
section.text-xl > pre,
section.text-xl > table,
.text-xl {
  font-size: 1.1em;
}
section.text-xs > p,
section.text-xs > ul,
section.text-xs > ol,
section.text-xs > blockquote,
section.text-xs > pre,
section.text-xs > table,
.text-xs {
  font-size: 0.9em;
}
section.text-2xs > p,
section.text-2xs > ul,
section.text-2xs > ol,
section.text-2xs > blockquote,
section.text-2xs > pre,
section.text-2xs > table,
.text-2xs {
  font-size: 0.8em;
}
section.text-3xs > p,
section.text-3xs > ul,
section.text-3xs > ol,
section.text-3xs > blockquote,
section.text-3xs > pre,
section.text-3xs > table,
.text-3xs {
  font-size: 0.7em;
}
section.text-4xs > p,
section.text-4xs > ul,
section.text-4xs > ol,
section.text-4xs > blockquote,
section.text-4xs > pre,
section.text-4xs > table,
.text-4xs {
  font-size: 0.65em;
}

/* 
 * text alignment
 * usage: <!-- _class: text-col --> 
 */
section.text-col > p,
section.text-col > ul,
section.text-col > ol {
  column-count: 2;
  column-gap: 2em;
  text-align: justify;
  hyphens: auto;
}

/* list spacing */
.space-between,
section.space-between > ul,
section.space-between > ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 45%;
}

/* 
 * column layout
 * usage: <!-- _class: col-2 -->
 * recommended to use with div tags
 */
.col-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1em;
  text-align: justify;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1em;
  text-align: justify;
}

/* morph elements on transitions */
.morph {
  display: inline-block;
  view-transition-name: var(--morph-name);
  contain: layout;
  vertical-align: top;
}

/* place a heading number in front of each heading with sequential numbers */
section.numbered-headings h1::before,
section.numbered-headings h2::before,
section.numbered-headings h3::before,
section.numbered-headings h4::before,
section.numbered-headings h5::before,
section.numbered-headings h6::before {
  content: counter(heading-counter) ". ";
  counter-increment: heading-counter;
  counter-set: heading-counter 5;
  font-weight: bold;
}
